<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Get Text Input Field Value in JavaScript</title>
</head>
<body>
    <input type="file" placeholder="Type something..." id="myInput">
    <button type="button" onclick="getInputValue();">Get Value</button>
    
    <script>
        function getInputValue(){
            // Selecting the input element and get its value 
            var inputVal = document.getElementById("myInput").value;
            
            // Displaying the value
            if(inputVal==''){
            alert("please enter something ")}
            else{
            alert(inputVal);
       }
       }
    </script>
</body>
</html>
<!-- var Storage2= multer.diskStorage({
    destination:"./public2/uploadpaper/",
    filename:(req,file,cb)=>{
      cb(null,file.fieldname+"_"+Date.now()+path.extname(file.originalname));
    }
  });
  var upload2 = multer({
    storage:Storage2
  }).single('file');
  
  router.get('/mqpaper', function(req, res, next) {
    res.render('mqpaper');
    // fileDetails2.save((err,doc)=>{
    //   if(err) throw err;
    //   fileDetails2.exec((err,data)=>{
    //     if(err) throw err;
    //     res.render('mqpaper',{records:data});
    //   })
      
    // });
    
  });
  
  router.post('/mqpaper',upload2, function(req, res, next) {
    var papersFile=req.file.filename;
    var fileDetails2= new paperModel({
      subject:req.body.usubject,
      year:req.body.uyear,
      filename:papersFile
  
    });
    fileDetails2.save((err,doc)=>{
      if(err) throw err;
      res.render('mqpaper');
      // fileDetails2.exec((err,data)=>{
      //   if(err) throw err;
      //   res.render('mqpaper',{records:data});
      // })
      
    });
   
  });
  
   -->
   <!-- <table class="table">
          <thead>
          <tr>
            <th >Subject</th>
            <th >Year</th>
            <th >Download File</th>
          </tr>
        </thead>
        <tbody >
          <%if (records.length >0){ %>
            <% records.forEach(function(row){ %>
            <tr>
              <td  ><%= row.subject %></td>
              <td   ><%= row.year %></td>
              <td >
                <a href="./public2/<%= row.filename %>"  download>
              <img src="./public2/<%= row.filename %>"  alt="File" width="80">
            </a>
            </td>   
            </tr>
            <% })}else{ %>
              <tr>
                  <td colspan="6">No Record Found</td>
                </tr>
              <% } %>
            </tbody>
        </table>
       -->