<html>
    <head>
        <title>ModelQuestionPaper</title>
        <% include ../include/head %>
    </head>
    <body>
        <% include ../include/nev %>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      
            <table  class="table">
              <thead>
              <tr>
                <th >Subject</th>
                <th >Topic</th>
                <th >Download File</th>
              </tr>
            </thead>
            <tbody style="font-weight: 600;">
              <%if (records.length >0){ %>
                <% records.forEach(function(row){ %>
                <tr>
                  <td  ><%= row.subject %></td>
                  <td   ><%= row.topic %></td>
                  <td >
                    <a href="./uploads/<%= row.imagename %>"  download>
                  <img src="./uploads/<%= row.imagename %>"  alt="File" width="80">
                </a>
                </td>   
                </tr>
                <% })}else{ %>
                  <tr>
                      <td colspan="6">No Record Found</td>
                    </tr>
                  <% } %>
            </tbody>
            </table>
            <% include ../include/footer %>
    <% include ../include/script %>
    </body>
    
</html>