<html>
    <head>
        <title>ModelQuestionPaper</title>
        <% include ../include/head %>
        <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
    </head>
    <body>
        <% include ../include/nev %>

        <br>
        <br>
        <br>
        
        
        <h2>HTML Table</h2>

<table>
  <tr style="font-size: large;">
    <th>Subject</th>
    <th>Year</th>
    <th>Download File</th>
  </tr>
  <tr>
    <td>sylabus</td>
    <td>second Year</td>
    <td> <p> <a href="./qustionpaper/B.Tech. 2nd Year Mechanical Engg AICTE Model Curriculum 2019-20.pdf">downloading link</a>.</p></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  
</table>
      
<br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
       
            <% include ../include/footer %>
    <% include ../include/script %>
    </body>
    
</html>